/*
buttons: #55770E
borders (dark): #087CD5
borders (light): #6CAADC
link: #2A3194
link-hover: #424ef4
warnings: #ff8538
warning borders (light) #EC9C6C
warning borders (dark) #FF8538
notices: #e69528
backgrounds: #C7D7E9
*/


.highlight {
    background-color: yellow;
}

.message {
    background-color: #F8DA4E;
}

.striped {
    background-color: #c7d7e9;
}

/*
loggedin style changes the background to make sure users can tell they are logged in.

loggedout indicates the opposite.
*/
.loggedout {
    background-color: #C7D7E9;
    border-color: #087CD5 black black #087CD5;
}

.loggedin {
    background-color: #C7D7E9;
    border-color: #087CD5 #6CAADC #6CAADC #087CD5;
}

/*Login Form elements*/
div.login {
    background-color: #C7D7E9;
}

div.error {
    color: white;
    background-color: #C7D7E9;
    border-color: #087CD5 #6CAADC #6CAADC #087CD5;
}

div.error a {
    color: yellow;
}

div.error-text {
    color: #000;
    background-color: #FFA500;
    box-shadow-color: #F00;
}

div.login-title {
    color: black;
    background-color: white;
}

#notice {
    background-color: #fcfcaa;
    border-color: black;
}

/*student search elements*/
div.result {
    background-color: white;
}

/*student list elements*/
div.entry,div.list {
    border-top-color: silver;
    border-right-color: silver;
    border-left-color: silver;
}

div.list {
    background-color: #e9e9e9;
}


.help {
    background-color: #55770E;
    color: white;
}

.delete {
    background: #E14F1C;
    color: white;
    border: 1px solid #CD0A0A;
}

.delete:hover {
    color: black;
    background: white url(images/delete_hover.png) 50% 50% repeat-x;
    border: 1px solid #cdcdcd;
}

/* header page layout elements */


#stuSearch {
    color: #666;
}

#navigation li {
    color: black;
}

#navigation li a a {
    color: white;
}

/* end header page layout elements */ /*main div layout elements */
#content {
    background-color: transparent;
}

#sidebar,#searchList {
    border-color: #087CD5;
}


/* end div layout elements */
#advancedSearch {
    border-color: #087CD5;
    background-color: #C7D7E9;
}

#advancedSearch h5 {
    background-color: #C7D7E9;
    color: black;
}

#advancedSearch h6 {
    background-color: #C7D7E9;
    color: black;
}

#addConcept {
    background-color: #fdfdd8;
    border-color: black;
}


.invert {
    background-color: blue;
    color: white;
}

.warning,.notice {
    color: black;
    opacity: .90;
    filter: Alpha(Opacity =           90);
    background: #ff8538 url(images/warning.png) 50% 50% repeat-x;
}

.warning h4,.notice h4 {
    border-color: black;
}

/*attendance values*/
ol.attendance {
    padding: 0;
    margin: 0;
    display: inline;
}

li.attendance {
    border-left-color: black;
    color: black
}

/*column boxes (see attendance_list.inc.html)*/
.quartercolumn {
    border-bottom-color: black;
}

/* Editor for Student Info page */
#editor {
    background-color: silver;
}

#searchForm fieldset {
    border-color: #6CAADC;
}

#searchList {
    background-color: white;
}

a.link,input.link {
    color: blue;
}

span.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

input.link {
    background-color: transparent;
    border-width: 0px;
    padding: 0px;
}

.over-budget {
    background-color: orange;
}