@import "color.css";

@import "ui.all.css";

@import "ui.datepicker.css";

.handle { 
	
}

body {
	font-size: 14px;
	font-family: tahoma, sans-serif;
	margin: 10px;
	padding: 10px;
}

#page {
	margin-left: auto;
	margin-right: auto;
}

.highlight {
	right-margin: 300px;
	width: 80%;
}

#content {
	
}


/*
loggedin style changes the background to make sure users can tell they are logged in.

loggedout indicates the opposite.
*/
.not-logged-in {
	text-align: center;
	padding: 10px;
	left: 10%;
	right: 10%;
}

.not-logged-in #main {
	width: auto;
	position: relative;
	display: block;
}

.editForm {
	width: 100%;
	padding-top: 1%;
}

/*Login Form elements*/
div.login {
	position: relative;
	top: 1%;
	padding: 2% 5%;
	text-align: left;
	width: 80%;
	max-width: 450px;
	margin: auto;
	display: block;
	border-radius: 5px;
	box-shadow: 4px 4px 11px #000;
}

div.login-inputs {
	margin: auto;
	width: 250px;
}

div.error {
	text-align: left;
	margin: 10%;
	padding: 2% 5%;
	position: fixed;
	top: 1%;
	right: 25%;
	left: 25%;
	width: auto;
	z-index: 1;
	border-style: solid;
	border-width: 1px;
}

div.error a {
	text-decoration: underline;
}

div.error-text {
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
	box-shadow: 1px 1px 1px #f00;
}

div.login-title {
	font-size: 150%;
	text-align: center;
	position: relative;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 1px 1px 1px #000;
}

#login_form .login-text,.reset-fields input,.reset-fields label {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

#password-resetter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

/* general notices */
#notice {
	position: absolute;
	top: 25%;
	left: 15%;
	overflow: auto;
	visibility: hidden;
	float: none;
	padding: 12px;
	border-style: solid;
	border-width: 1px;
}

.notice {
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	padding: 3px;
}

#new_popup {
	display: none;
	visibility: block;
}

/*student search elements*/
div.result {
	font-size: 12px;
	position: absolute;
	left: 200px;
	max-height: 600px;
	margin: 2%;
	padding-right: 2%;
	padding-left: 2%;
}

/*form elements*/
.label {
	font-size: 12px;
	font-weight: bold
}

/* form dimensions mainly defined here */
.form {
	position: absolute;
	width: 70%;
}

.phrases {
	font-size: 80%;
	position: absolute;
	overflow: scroll;
	visibility: hidden;
}

.button-box ul.button-list li {
	padding-left: 0.5em;
	margin-left: 0.5em;
	margin-top: 0.5em;
}

.button-box ul.button-list li:first_child {
	padding-left: 0;
	margin-left: 0;
}

#expenses .block {
	flex-basis: auto;
	flex: 1;
}


ul.button-list {
	list-style: none;
	padding-left: 0px;
}

ul.button-list li {
	display: inline;
}

.help {
	
}

textarea {
	font-size: 1em;
}


label {
	font-weight: bold;
}

legend {
	font-weight: bold;
}

/* header page layout elements */
#header {
	padding: 1.25em 0 1.25em 0;
	position: relative;
}

.mobile-only {
	display: none;
}

#navigation {
	display: flex;
	flex-flow: row wrap;
	justify-content:space-between;
}

#user_menu {
	float: right;
	top: 2px;
}

#user_menu p {
	margin: 0em;
}

/* end header page layout elements */ /*main div layout elements */
#main {
	position: relative;
	padding: 0 5em 2em 2em;
	margin-top: 3.5em;
}


a.button {
	text-decoration: none;
}

.button_box {
	height: 25px;
}

.button_box .delete {
	margin-top: -5px;
}

td {
	padding: 5px;
	border-width: 0px;
}

table {
	border-spacing: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
}

table.list {
	width: 100%;
}

th {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000;
}

table.list tbody tr {
	
}

table.list tr.bottom-line td {
	border-top: 3px double #000;
	font-weight: bold;
}

table.list tr.total-line td {
	border-top: 1px solid #000;
	font-weight: bold;
}

table.list.totals td, table.table tr.totals td {
	font-weight: bold;
	border-bottom: 3px double #1f1d1d;
}

a.link,input.link {
	text-decoration: underline;
}

a.link:hover,input.link:hover {
	cursor: pointer;
}

.icon {
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 5px;
}

td.amt, th.amt {
	text-align: right;
}

.chart-of-accounts .account.child td:first-child{
	text-indent: 20px;
}

.row {
	display:flex;
  flex-flow: row wrap;
  justify-content:space-around;
}
.block {
  flex-basis: 40vw;
  padding: 5px;
	margin-right: 5px;
  margin-bottom: 1em;
}

.block.you {
	order: -1;
	border: 1px solid #000;
	box-shadow: 1px 1px 5px 1px black;
	background-color: white;
}

.ajax.edit.inline:hover{
	cursor: pointer;
}

.search-block {
	border: 1px solid #2f2f2f;
	width: 50%;
	padding: 1rem;
}

.info-block {
	display: flex;
	flex-flow: row wrap;
}

.info-block .chart{
	width: 50%;
	height: 400px;
}

@media screen and (max-width:768px){
	.info-block {
		flex-flow: column wrap;
	}
	.info-block .search-block{
		width: 100%;
	}
	.info-block .chart {
		width: 100%;
		height: 400px;
	}
}
