.user_menu, .nav_buttons {
    float: none;
}

#navigation {
  float: none;
  width: auto;
  display: none;
}

#navigation li {
	display: block;

	}

#navigation ul.user_menu {
  margin-top: 5px;
}

#navigation {
  height: 14.5em;
  min-width: 0;
  background: none;
}

#navigation li:first-child {
	display: inline;
	padding-left: .5em;
}

#nav_buttons, #user_menu {
	width: 20ex;
}

#user_menu {
    float: left;
}

#monthly-fees {
  margin: 0;
  padding: 0;
  float: none;
  width: auto;
}

#monthly-fees th {
}

#monthly-fees table.list, #budget table.list {
	width: auto;
}

#fee-type{
}

#fee-amount{
	
}

#fee-amout-due {
	
}

#budget {
  padding: 0;
}

#navigation li {
  margin-left: 0;
  margin-top: 15px;
}

#main {
margin-top: 0;
padding: 0;
}



.column{
float: none;
}

.mobile-only {
	display: block;
}