@media (max-width:768px){
  body.not-logged-in {
  }


  .not-logged-in #main{
    width: 320px;
  }

  .not-logged-in div.login {
    margin: 0;
  }

  .user_menu,.nav_buttons {
    float: none;
  }


  #user_menu {
    margin-top:1em;
  }

.btn-group{
  flex-flow: row wrap;
}


  .mobile-only {
    display: block;
  }


  #navigation li {
    margin-left: 0;
    margin-top: 15px;
  }

  #main {
    margin-top: 0;
    padding: 0;
  }

  .row .block {
    flex-basis: 100%;
  }
}

@media and (max-width: 410px){
	#expenses .block {
		width: 100%;
	}
}
