/web/user_guide
/web/application/config/database.local.php
/web/application/config/email.local.php
/web/application/logs/*
.buildpath
.DS_Store
/application/logs/
.settings/*
.idea
.editorconfig
.settings
.project
.buildpath
/web/application/vendor/
