/*
buttons: #55770E
borders (dark): #087CD5
borders (light): #6CAADC
link: #2A3194
link-hover: #424ef4
warnings: #ff8538
warning borders (light) #EC9C6C
warning borders (dark) #FF8538
notices: #e69528
backgrounds: #C7D7E9
*/


.highlight {
    background-color: yellow;
}

.striped {
    background-color: #c7d7e9;
}

/*
loggedin style changes the background to make sure users can tell they are logged in.

loggedout indicates the opposite.
*/
.loggedout {
    background-color: #C7D7E9;
    border-color: #087CD5 black black #087CD5;
}

.loggedin {
    background-color: #C7D7E9;
    border-color: #087CD5 #6CAADC #6CAADC #087CD5;
}

/*Login Form elements*/
div.login {
    background-color: #C7D7E9;
}

div.error {
    color: white;
    background-color: #C7D7E9;
    border-color: #087CD5 #6CAADC #6CAADC #087CD5;
}

div.error a {
    color: yellow;
}

div.error-text {
    color: #000;
    background-color: #FFA500;
    box-shadow-color: #F00;
}

div.login-title {
    color: black;
    background-color: white;
}


div.list {
    background-color: #e9e9e9;
}


.help {
    background-color: #55770E;
    color: white;
}
.invert {
    background-color: blue;
    color: white;
}


a.link,input.link {
    color: blue;
}

span.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

input.link {
    background-color: transparent;
    border-width: 0px;
    padding: 0px;
}

.over-budget {
    background-color: orange;
}
